
@font-face {
    font-family: "Pixeled";
    src: url('framework/assets/pixeled.ttf') format('truetype');;
}

html, body
{
    background-color: #101010;
    font-family: Pixeled;
    color: white;
    margin:0px;
    overflow: hidden;
    display: block;
    cursor: crosshair;
}
canvas
{
    position: absolute;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    image-rendering:pixelated;
    display: block;
    background-color: black;
}
